@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');


* {
    width: 100%;
margin: 0;
padding: 0;

}
html, body {
  height: 100vh;
}

body {
    background-color: #0a192f;
    position: relative; 
    margin: 0;
    padding: 0;
    color: rgb(33, 37, 41);
    
}


html {
    scroll-behavior: smooth;
   
  }
/* HEADER */
header {
    background: black;
    width: 100%;
    height: 104px;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.bar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 20px;
 
}

#aboutMe {
    margin-left: 170px;
}

#contactMe {
    margin-right: 170px;
}


#main-nav{
    text-align-last: left;
    margin-right: 50px;
   
    }

#Secondary-nav{
text-align-last: right;
margin-right: 90px;
}

.nav-logo {
    margin-left: 90px;
    z-index: 900;
    width: 60px;
}

#resume {
    border: 2px solid white;
   
}

#Links{
    text-decoration-line: none;
    text-decoration: none;
    color: white;    
}
#Links:hover {
  color:#E94560
}

#Links2{
    text-decoration-line: none;
    text-decoration: none;
    color: #E94560;
}

#Links2:hover{
color: white;
}

.Nav-sections{
    text-decoration-line: none;
    text-decoration: none;
    
}



/* NAV */

nav {
  background: black;
  width: 100vw;
  height: 50px;
  position: fixed;
  z-index: 9999;
  font-size: 17px;
  

}

#navImput {
  opacity: 0;
  display: contents;
  
 
}

#menu {
  display: flex;
  list-style: none;
  align-items: center;
  height: 50px;
}

.navi {
  text-decoration: none;
  color: white;
}

/* NAV */
/* HEADER */



/* ABOUT ME */

.tags {
    color: white;
    font-family: 'Dancing Script', cursive;
}

#top-tags {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 104px;
    
    top: 0;
    left: 0;
}

#st1-section{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    place-content: space-evenly;
    width: 100%;
    text-align-last: center;
    color: white;
}

#profile{
    width: 300px;
    border-radius: 50% 20% / 10% 40%;

    animation: pulsate 1.5s infinite alternate;  
  border: 0.1rem solid #E94560;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .1rem #E94560,
            0 0 .1rem #E94560,
            0 0 1rem white,
            0 0 0.8rem white,
            0 0 1.8rem white,
            inset 0 0 1.3rem white; 
}

.profile{
  margin-top: 50%;
}

.first-section{
    margin-left: 9%;
}

#first-h1 {
    font-size: 70px;
    color: white;
    text-align-last: center;
}

#first-h2 {
    font-size: 40px;
}

/* Tags */

#section-tag{
    padding-top: 6%;
    margin-left: -20%;
}

#div-section{
    padding-top: 4%;
    margin-left: -12%;

}

#h1-section{
    padding-top: 2%;
    margin-left: -6%;

}

#p-section{
    padding-top: 2%;
    margin-left: -12%;

}
#img-section{
    padding-top: 2%;
    margin-left: -12%;

}



#first-p{
    padding-top: 2%;
    text-align: -webkit-center;
    font-size: 20px;
}

.tags {
    text-align-last: left;
    z-index: 1000;
}

#html{
    padding-top: 3px;
}
#header{
    
    margin-left: 8px;
}
#header2{
    padding-top: 2%;
    margin-left: 8px;
    width: 100px;
}

/* Tags */




/* PROJECTS */

/*.PL {
  width: 60px;
  height: 30px;
  background: linear-gradient(to top, rgb(58, 79, 117), rgb(58, 79, 117), rgb(58, 79, 117));
  color: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  position: relative;
  box-shadow: 0 15px 15px rgb(23, 35, 44);
  }

This botton is to check later to add it or not  */
.LP{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

 .ProgrammingLanguages {
  display: flex;
  font-size: 15px;
  place-content: center;
  font-weight: 900;
  margin-top: -141px;
 }

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border: none;
    
  }

  .grid{
    width: 532px;
    height: 314px;
    object-fit: cover;
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }


/* IMAGES */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.grid-item {
  position: relative;
}

.image-container {
  position: relative;
  display: inline-block;
}
.grid-item:hover .grid {
  filter: grayscale(100%);
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 88%;
  height: 98%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.99));
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  filter: blur(5px);
  flex-direction: column;
  align-items: flex-end;
  margin-left: 35px;

  font-size: 20px;
  font-weight: 800;
  
}


.hover-overlay h3 {
  margin-top: -4px;
    margin-bottom: 180px;
}


.grid-item:hover .hover-overlay {
  opacity: 1;
  filter: blur(0);
}

/* CODE BUTTON */

.code {
  appearance: none;
  background-color: white;
  border: 0.125em solid white;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #E94560;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  min-height: 1.75em;
  min-width: 0;
  outline: none;
  padding: 0em 0.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  width: 70px;
  margin-bottom: 35px;
 
 }
 
 .code:disabled {
  pointer-events: none;
 }
 
 .code:hover {
  color: #1a1a1a;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
 }
 
 .code:active {
  box-shadow: none;
  transform: translateY(0);
 }


/* CODE BUTTON */


.miModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.miModal img {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}

/* IMAGES */
  
  
/* PROJECTS */


/* JS PROYECTS */

.code-window {
  width: 80%;
  height: 200px;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
}


.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  margin-top: 2%;
  cursor: pointer;
 }
 
 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
 }
 
 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
 }
 
 .cta svg {
  position: relative;
  top: -10px;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: rgb(233, 69, 96);
  stroke-width: 2px;
  transform: translateX(-5px);
  transition: all 0.3s ease 0s;
  width: 30px;
  height: 21px;
 }
 
 .cta:hover:before {
  width: 100%;
  background: #b1dae7;
  
 }
 
 .cta:hover svg {
  transform: translateX(0);
  
 }
 
 .cta:active {
  transform: scale(0.95);
 }

 #exercise-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  text-align: -webkit-center;
}

.JSE {
  margin-bottom: 2%;
  font-size: 25px;
  color: white;
}


/* JS PROYECTS */


/* SKILLS */




.grid-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  #rd3-section{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    place-content: space-evenly;
    width: 100%;
    color: white;
    margin-bottom: 45px;
  }

  /*.certification{
    margin-left: 14%;
  }*/

  .iskills {
    width: 120px;
    height: 120px;
  }

  #h1-section3{
padding-left: 126px;
  }

  #div-section2{
    padding-left: 81px;
  }

  .certification{
    display: flex;
    flex-direction: column;
  }

  #links{
    display: flex;
    flex-direction: column;
  }

  #text {
    color:#E94560
  }
 
/* SKILLS */
/* RESUME  BUTTONS*/

button {
    position: relative;
    background: #0a192f;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
    width: 130px;
    font-weight: bold;
    
  }

 
button a {
    text-decoration-line: none;
    text-decoration: none;
    color: #E94560;
}

button a:hover{
  color: white;
} 


    #resume:hover {
    color: white !important;
    border-radius: 50px;
    border-color: white !important;
    transition: all 0.8s ease 0s;

    }


    #open {
      width: 100px;
      height: 40px;
    }

    #download {
      width: 160px;
      height: 40px;
    }

    .open {
      width: 100px;
      height: 50px;
    }

    .download {
      width: 150px;
      height: 50px;
    }

    #resumeOd{
      text-align-last: center;
    }

/* RESUME BUTTONS */

/* FOUR-SECTION */

.form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  background: rgb(28 53 88);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form .title {
  color:#E94560;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 91%;
  height: 35px;
}

.form textarea {
  border-radius: 8px;
  height: 190px;
  width: 91%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

 
#four-section {
  display: flex;
  flex-direction: row;
  text-align: -webkit-center;
}

/* SUBMIT BUTTON */

/* MAP */
#map {
  height: 290px;
  width: 490px;
  border-radius: 6%;
  margin-top: 10%;
}


.leaflet-control-zoom{
width: 50px;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
 width: 280px;
}

.input::placeholder {
  font-weight: bold;
}



/* MAP */

.submit {
  height: 50px;
  width: 200px;
  position: relative;
  
  cursor: pointer;
  border: 2px solid #E94560;
  overflow: hidden;
  border-radius: 30px;
  color: white;
  transition: all 0.5s ease-in-out;
  align-self: flex-end;
  margin-top: 5%;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: white;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.submit:hover {
  box-shadow: 1px 1px 200px #252525;
  color:#E94560;
  border: none;
  background: white;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

/* SUBMIT BUTTON */

/* FOUR-SECTION */

/* FOOTER */
#copyRights {
    color: white;
    text-align-last: center;
    font-size: 20px;
    padding-top: 18px;
    
}

#media {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    position: fixed;    
    bottom: 250px;
    right: 50px;
  }

  #wrapper{
    position: absolute;
    
  }

  .html2{
    position: absolute;

  }

/* MEDIA */


ul.social-icons {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 15px;
}

ul.social-icons li {
  list-style: none;
}

ul.social-icons li a {
  width: 42px;
    height: 42px;
    background-color: #fff;
    text-align: center;
    line-height: 38px;
    font-size: 28px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
    z-index: 1;
  
}

ul.social-icons li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

ul.social-icons li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

ul.social-icons li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  transition: 0.5s;
  z-index: 2;
}

ul.social-icons li a:hover:before {
  top: 0;
}


ul.social-icons li:nth-child(1) a:before {
  background: #25D366;
}

ul.social-icons li:nth-child(2) a:before {
  background: #DB4437;
}

ul.social-icons li:nth-child(3) a:before {
  background: #0077B5;
}

ul.media li:nth-child(4) a:before {
  background: #333;
}

/* MEDIA */

#email{
  width: 100vw;
  text-align-last: center;
  color: white;
}

/* FOOTER */


/* MEDIA QUERYS */


@media screen and (max-width: 550px) {
#map{
  width: 320px;
}


iframe{
  width: 320px;
}

#profile {

  width: 200px;
}
}


@media screen and (max-width: 767px) {
#profile{
  width: 200px;
 }

 .profile{
  margin-top: 0;
 }
#first-h1{
  font-size: 2.6em;
  text-align: -webkit-center;
}
#first-h2{
  font-size: 2.5em;
  text-align: -webkit-center;
}
#copyRights{
  font-size: 1em;
}

#main-certification{
  padding-left: 6%;
}

.iskills{
  height: 80px;
    width: 80px;
}

#text{
  font-size: 18px;
}

#map{
  margin-top: 0;
}

}


@media screen and (min-width: 767px) and (max-width: 1000px) {

#profile{
  width: 250px;
}

#st1-section{
display: flex;
flex-direction: column;
}

.iskills{
  height: 100px;
    width: 100px;
}

#text{
  font-size: 20px;
}

}




  @media screen and (max-width: 1100px) {
/* NAV */

.navi {
  text-decoration: none;
  color: #1E1E23;
  opacity:1;
  font-family: 'work sans', sans serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
  
}
.navi:hover {
  opacity:0.5;
}
ul {
  padding: 0;
  list-style-type: none;
}



.container {
  margin-top: 50px; 
  
  justify-content: center;
  align-items: center;
}
.phone {
  background-color: #36383F;
  border-radius: 40px;
  width: 300px;
  height: 600px;
  Display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 30px 50px 100px #85888C;
}
.content {
  border: 1px solid #36383F;
  border-radius: 20px;
  width: 94%;
  height: 91%;
  background-color: #F5F6FA;
  overflow: hidden;
}
nav {
  background-color: #1E1E23;
  height: 65px;
  z-index: 9999;
  top: 0;
}


#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  flex-direction: column;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 180px;
  height: 400px;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 90px;
  background-color: #F5F6FA;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  flex-direction: column;
  list-style: none;
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

/* NAV */

}





/* MEDIA QUERYS */  

